<div>{{ user | json }}</div>
<div>
  <h1>
    Sum of list:
    {{ user.list | reduce : sum : 0 }}
  </h1>

  <button (click)="addProperty()">Add Property</button>
</div>

<div>
  <h3>Promise: {{ p | async }}</h3>
</div>

<div>
  {{ time$ | async | date : "hh:mm:ss" }}
</div>

<!-- <nav>
  <div><a routerLink="/home">Home</a></div>
  <div><a routerLink="/lazy">Lazy</a></div>
</nav> -->

<div *ngIf="isLoading$ | async">Loading ...</div>
<div *ngIf="!(isLoading$ | async)">
  {{ users$ | async | json }}
</div>

<button (click)="reloadUser()" *ngIf="(users$ | async) === null">
  Load Users
</button>
<button (click)="reloadUser()" *ngIf="(users$ | async) !== null">
  Reload Users
</button>

<router-outlet />
