<form #loginForm="ngForm" (ngSubmit)="submitHandler()">
  <!-- EMAIL -->
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      id="email"
      name="email"
      ngModel
      #emailInput="ngModel"
      required
    />
  </div>
  <!-- Email error message -->
  <div *ngIf="emailInput.touched">
    <div *ngIf="emailInput.errors?.['required']">Email is required!</div>
    <div *ngIf="emailInput.errors?.['email']">Email is not valid!</div>
  </div>
  <!-- PASSWORD -->
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="text"
      id="password"
      name="password"
      ngModel
      #passwordInput="ngModel"
      [appMaxCount]="4"
    />
  </div>
  <!-- Password error message -->
  <div *ngIf="passwordInput.touched">
    <div *ngIf="passwordInput.errors?.['appMaxCount']">
      Invalid password, length is {{ passwordInput.errors?.['appMaxCount'] }}
    </div>
  </div>

  <button>Login</button>
</form>

<br />
<br />
<br />
{{ loginForm.value | json }}
